<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ben.bryan.wilburn.roomies"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ben.bryan.wilburn.roomies.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/roomlies_logo_new"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_my"
            android:parentActivityName=".Login"></activity>
        <activity
            android:name=".Login"
            android:label="Roomies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"></activity>
        <activity
            android:name=".Ems"
            android:label="@string/title_activity_ems"></activity>
        <activity
            android:name=".Chore"
            android:label="@string/title_activity_chore"></activity>
        <activity
            android:name=".BulletinBoard"
            android:label="@string/title_activity_bulletin_board"></activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ben.bryan.wilburn.roomies" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CreateBulletin"
            android:label="@string/title_activity_create_bulletin"
            android:parentActivityName=".BulletinBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BulletinBoard" />
        </activity>
        <activity
            android:name=".HouseHold"
            android:label="@string/title_activity_house_hold"
            android:parentActivityName=".Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Register" />
        </activity>
        <activity
            android:name=".Financial"
            android:label="@string/title_activity_financial"></activity>
        <activity
            android:name=".AddFinancial"
            android:label="@string/title_activity_add_financial"
            android:parentActivityName=".Financial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ben.bryan.wilburn.roomies.Financial" />
        </activity>
    </application>

</manifest>
